*{
margin-left: auto;
    
}

h2 {color: #56401A;}
h3 {color: #56401A;}
.total_form {

    height: auto;
    width: 1172px;
    margin: 0 auto 0 auto;
}
.decendent_names {
    margin: 10px;
    height: 160px;
    width: 1130px;
    border: 0px solid #000000;
    background-color: #cecece;
    }
.decendent_names_form_line_1 {
    width:1130px;
    float: left;
    height: 6 0px;
    margin-left: 10px;
    margin-top: 10px;
}
.decendent_names_form_line_2 {
    width:1130px;
    float: left;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}


.f_1_l1 {

    float: left;
    width:350px;
    height: 50px
   
}
.f_2_l1 {

    float: left;
    width:350px;
    height: 50px
}
.f_3_l1 {

    float: left;
    width:350px;
    height: 50px
}

.f_1_l2 {

    float: left;
    width:350px;
    height: 50px
   
}
.f_2_l2 {

    float: left;
    width:130px;
    height: 50px
}
.f_3_l2 {

    float: left;
    width:220px;
    height: 50px
}
.f_4_l2 {

    float: left;
    width:350px;
    height: 50px
}

.decendent_hispanic{

    height: 200px;
    width:1050px;
    float: left;

}

.decendent_hispanic_form_line_1 {
    margin: 10px;
    height: 3px;
    width: 1050px;
}

.decendent_hispanic_form_line_2{

    float: left;
    margin-left: 20px;
}
.d_h_r_1 {
    margin-left: 10px;
    float:left;

}